<html>
    <head>
        <title>Jobify</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
        <link href="styles.css" rel="stylesheet"/>
    </head>

    <body>
        <div class="header">
            <h1><a href="/"><img src="images/logo.png" alt="Jobify"/></a></h1>
            <p class="whitefont">Você está no Jobify - Junte-se!</p>
        </div>