
        
    <%- include('header') %>

        <h2>Desenvolvedor Fullstack</h2>

        <div>
            <h3>Time de engenharia</h3>
            <ul>
                <li><a href=" ">Desenvolvedor Fullstack.</a></li>
            </ul>
        </div>

        <div>
            <h3>Time de Marketing</h3>
            <ul>
                <li><a href="vaga">Marketing digital.</a></li>
            </ul>
        </div>

    <%- include('footer') %>

