body{
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

ul{
    list-style-type: none;
    padding-left: 15;
}

h2{
    background-color: purple;
    color: white;
    font-size: 24;
}

h3{
    font-size: 24;
}

.header{
    background-color: purple;
    padding-top: 30px;
    padding-bottom: 20px;
}

.whitefont{
    color: white;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

