

    <%- include('header') %>
    
        
        <h2>
            Admin de vagas -
            <a style="color: white" href="/admin/vagas/nova"> Nova vaga</a>
        </h2>

            <div>
                <ul>
                    <% vagas.forEach(vaga => { %> 
                        <li>
                            <%- vaga.titulo %> |
                            <a href="/admin/vagas/delete/<%- vaga.id %>">Excluir</a>
                        </li>
                    <% }) %>
                </ul>
            </div>


    <%- include('footer') %>

